@import "normalize";
@import "reset";

html {
  background-color: var(--grey-color);
  color: var(--white-color);
  scroll-behavior: smooth;

  --blue-color: #545ff4;
  --grey-color: #1e1e1e;
  --black-color: #000000;
  --white-color: #f6f6f6;
  --orange-color: #bc663e;
  --light-blue-color: #bc663e;

  & a {
    text-decoration: none;
    color: var(--white-color);
  }
}
